{% extends 'base.html.twig' %}

{% block title %}Free Bank - zarządzanie{% endblock %}

{% block body %}
    <main>
        <div class="container-transfer-queue">
            <h1>Kolejka transferów</h1>
            <table class="transfer-queue" border="1">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nadawca</th>
                        <th>Odbiorca</th>
                        <th>Nr rachunku nadawcy</th>
                        <th>Nr rachunku odbiorcy</th>
                        <th>Kwota</th>
                        <th>Tytuł</th>
                        <th>Akceptuj</th>
                        <th>Odrzuć</th>
                    </tr>
                </thead>
                <tbody>
                {% if transferQueue is not empty %}
                    {% for transfer in transferQueue %}
                        <tr id="{{ transfer.id }}">
                            <td>{{ transfer.createdAt|date("d.m.Y H:i") }}</td>
                            <td>{{ transfer.user.firstname }} {{ transfer.user.lastname }}</td>
                            <td>{{ transfer.receiverName }}</td>
                            <td>{{ transfer.senderAccountNumber }}</td>
                            <td>{{ transfer.receiverAccountNumber }}</td>
                            <td>1 200,00 PLN</td>
                            <td>{{ transfer.title|truncate(25) }}</td>
                            <td class="transfer-queue-decision transfer-queue-confirm">
                                <i class="fas fa-check-circle"></i>
                            </td>
                            <td class="transfer-queue-decision transfer-queue-decline">
                                <i class="fas fa-times-circle"></i>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">Brak transferów do realizacji</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/transfer.js') }}"></script>
{% endblock %}
