{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {% if bankAccounts|length == 0 %}
            <h3 class="your-accounts">Nie posiadasz jeszcze żadnego otwartego rachunku</h3>
        {% else %}
            {% set totalBalance = 0 %}
            {% set totalAvailableFunds = 0 %}
            <div class="row">
                <div class="col-12 col-md-6 p-0">
                    <div class="account-headers">
                        <h3 class="your-accounts">Twoje rachunki</h3>
                        <div class="account-balance-header">Saldo</div>
                        <div class="account-available-funds-header">Dostępne środki</div>
                    </div>
                </div>
            </div>
            {% for bankAccount in bankAccounts %}
                {% set totalBalance = totalBalance + bankAccount.balance %}
                {% set totalAvailableFunds = totalAvailableFunds + bankAccount.availableFunds %}
                <div class="row">
                    <div class="col-12 col-md-6 p-0">
                        <div class="user-account" id="account-nr{{ loop.index }}">
                            <div class="user-account-type">
                                Konto {{ bankAccount.accountType }}
                            </div>
                            <div class="user-account-number">
                                {{ bankAccount.accountNumber }}
                            </div>
                            <div class="user-account-balance">
                                {{ bankAccount.balance|number_format(2, ',', ' ') }} PLN
                            </div>
                            <div class="user-account-available-funds">
                                {{ bankAccount.availableFunds|number_format(2, ',', ' ') }} PLN
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 col-md-6 p-0">
                    <div class="total-funds">
                        <p>Razem:</p>
                        <div class="total-balance">{{ totalBalance|number_format(2, ',', ' ') }} PLN</div>
                        <div class="total-available-funds">{{ totalAvailableFunds|number_format(2, ',', ' ') }} PLN</div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="user-login-logs">
            {% for success in loginLogsSuccess %}
                <div class="user-login-log-success">
                    Ostatnia <b>udana</b> próba logowania: {{ success.createdAt|date("d.m.Y H:i:s") }}
                </div>
            {% endfor %}

            {% if loginLogFailed %}
                {% for failed in loginLogFailed %}
                    <div class="user-login-log-failed">
                        Ostatnia <b>nieudana</b> próba logowania: {{ failed.createdAt|date("d.m.Y H:i:s") }}
                    </div>
                {% endfor %}
            {% else %}
                <div class="user-login-log-failed">
                    Ostatnia <b>nieudana</b> próba logowania: BRAK
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}