{% extends 'base.html.twig' %}

{% block title %}Free Bank - historia operacji{% endblock %}

{% block body %}
<main>
    <div class="container-transfer-history">
        <section class="account-select-to-show-history">
            <h1>Pokaż historię z rachunku</h1>
            {% for userBankAccount in userBankAccounts %}
                {% if userBankAccounts|length == 1 %}
                    <div class="choose-account choose-account-selected">
                {% elseif userBankAccounts|length > 1 %}
                    <div class="choose-account">
                {% endif %}
                        <div class="account-nr{{ loop.index }}">
                            <div class="choose-account-type">Konto standard</div>
                            <div class="choose-account-number">{{ userBankAccount.accountNumber }}</div>
                        </div>
                    </div>
            {% else %}
                <div class="choose-account">
                    <div class="choose-account-number">Brak rachunku</div>
                </div>
            {% endfor %}
        </section>
        <section class="transfer-history">
            <table class="transfers">
                <thead>
                <tr>
                    <th class="transfer-history-header transfer-history-type">Typ</th>
                    <th class="transfer-history-header transfer-date-header">Data</th>
                    <th class="transfer-history-header transfer-description-header">Opis</th>
                    <th class="transfer-history-header transfer-amount-header">Kwota</th>
                </tr>
                </thead>
                <tbody class="tbody-transfer-history">
                {% if userBankAccounts|length == 1 %}
                    {% for transferHistory in transfersHistory %}
                        {% if transferHistory.senderAccountNumber == accountNumber %}
                            <tr class="transfer-history-element" id="{{ transferHistory.id }}">
                                <td><i class="fas fa-long-arrow-alt-right" title="Przelew wychodzący"></i></td>
                                <td>{{ transferHistory.createdAt|date("d.m.Y") }}</td>
                                <td>{{ transferHistory.receiverName }}, {{ transferHistory.title }}</td>
                                <td class="transfer-amount transfer-amount-outgoing">
                                    -{{ transferHistory.amount|number_format(2, ',', ' ') }} PLN
                                </td>
                            </tr>
                        {% else %}
                            <tr class="transfer-history-element" id="{{ transferHistory.id }}">
                                <td><i class="fas fa-long-arrow-alt-left" title="Przelew przychodzący"></i></td>
                                <td>{{ transferHistory.createdAt|date("d.m.Y") }}</td>
                                <td>{{ transferHistory.receiverName }}, {{ transferHistory.title }}</td>
                                <td class="transfer-amount transfer-amount-incoming">
                                    {{ transferHistory.amount|number_format(2, ',', ' ') }} PLN
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% elseif userBankAccounts|length > 1 %}
                    <tr>
                        <td colspan="4">
                            <i class="fas fa-long-arrow-alt-left"></i>
                            Wybierz rachunek po lewo, aby wyświetlić historię transakcji.
                        </td>
                    </tr>
                {% elseif userBankAccounts|length == 0 %}
                    <tr>
                        <td colspan="4">
                            Brak historii, ponieważ nie posiadasz żadnego rachunku.
                        </td>
                    </tr>
                {% endif %}
                {% if userBankAccounts|length == 1 and transfersHistory is empty %}
                    <tr>
                        <td colspan="4">Brak historii transakcji dla tego rachunku.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            {% if userBankAccounts|length == 1 and transfersHistory is not empty %}
                <div class='show-more-transfers'>Pokaż więcej</div>
            {% endif %}
            <div class="loading">
                <img src="{{ asset('img/loading.gif') }}" width="150px" height="150px" alt="Ładowanie">
            </div>
        </section>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/transfer-history.js') }}"></script>
{% endblock %}
