<h1 class="user-settings-content-header">
    <i class="fas fa-user-edit"></i>
    Twoje dane
</h1>
<div class="user-data-info" id="user-address-permanent">
    <p>
        <i class="fas fa-home"></i>
        Adres zameldowania
    </p>
    <p>
        ul. {{ app.user.streetPermanent }}
        <br>
        {{ app.user.zipcodePermanent }} {{ app.user.cityPermanent }}
        <br>
        {{ app.user.countryPermanent }}
    </p>
</div>
<div class="user-data-info" id="user-address">
    <p>
        <i class="fas fa-home"></i>
        Adres korespondencyjny
    </p>
    <p>
        ul. {{ app.user.street }}
        <br>
        {{ app.user.zipcode }} {{ app.user.city }}
        <br>
        {{ app.user.country }}
        <br>
        <button class="edit-user-data-btn" type="button">Modyfikuj</button>
    </p>
</div>
<div class="user-data-info">
    <p>
        <i class="fas fa-envelope"></i>
        Adres e-mail
    </p>
    <p>
        kozupa.jakub@gmail.com
        <br>
        <button class="edit-user-data-btn" type="button">Modyfikuj</button>
    </p>
</div>