{% extends 'base.html.twig' %}

{% block title %}Free Bank - przelew krajowy{% endblock %}
{% block body %}
<main>
    <div class="container-transfer">
        <div class="transfer-type normal-transfer nav-item-underscore">Przelew jednorazowy</div>
        <div class="transfer-type periodic-transfer">Przelew cykliczny</div>

        VERIFICATION CODE: {{ verificationCode }}

        {{ form_start(transferFinalizeForm) }}
            <div class="transfer-domestic-finalize">
                {{ form_label(transferFinalizeForm.verificationCode) }}
                {{ form_widget(transferFinalizeForm.verificationCode,
                    {'attr': {'class': 'transfer-domestic-finalize-code'}}) }}
                {% for error in transferFinalizeForm.verificationCode.vars.errors %}
                    <div class="send-transfer-error">{{ error.message }}</div>
                {% endfor %}
                <button type="submit" class="send-transfer-btn transfer-finalize-btn">Wyślij przelew</button>
            </div>
        {{ form_end(transferFinalizeForm) }}

    </div>
</main>
{% endblock %}