{% extends 'base.html.twig' %}

{% block title %}Free Bank - przelew krajowy{% endblock %}

{% block body %}
    <main>
        <div class="container-transfer">
            <div class="transfer-type normal-transfer nav-item-underscore">Przelew jednorazowy</div>
            <div class="transfer-type periodic-transfer">Przelew cykliczny</div>

            {% if app.user.isBlockedTransfers == true %}
                <div class="row justify-content-md-center">
                    <div class="col-6 justify-content-md-center">
                        <div class="transfer-alert transfer-failed">
                            <i class="fas fa-times-circle"></i>
                            <h3>
                                Możliwość wykonywania przelewów została zablokowana,
                                ponieważ wprowadziłeś kod błędnie 3 razy. <br>
                                Skontaktuj się z supportem.
                            </h3>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for message in app.flashes('to_finalize') %}
                    <div class="row justify-content-md-center">
                        <div class="col-6 justify-content-md-center">
                            <div class="transfer-alert transfer-success">
                                <i class="fas fa-check-circle"></i>
                                <h3>{{ message }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for message in app.flashes('failed') %}
                    <div class="row justify-content-md-center">
                        <div class="col-6 justify-content-md-center">
                            <div class="transfer-alert transfer-failed">
                                <i class="fas fa-times-circle"></i>
                                <h3>{{ message }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ form_start(transferForm) }}
                    <table class="transfer-domestic">
                        <tr>
                            <td class="text-left">{{ form_label(transferForm.senderAccountNumber) }}</td>
                            <td>{{ form_widget(transferForm.senderAccountNumber) }}</td>
                            <td>{{ form_errors(transferForm.senderAccountNumber) }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">{{ form_label(transferForm.receiverName) }}</td>
                            <td>{{ form_widget(transferForm.receiverName,
                                    {'attr': {'class': 'send-transfer-receiver'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="form-error">
                                {% for error in transferForm.receiverName.vars.errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">{{ form_label(transferForm.receiverAccountNumber) }}</td>
                            <td>{{ form_widget(transferForm.receiverAccountNumber,
                                    {'attr': {'class': 'send-transfer-receiver-account-number'}}) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="form-error">
                                {% for error in transferForm.receiverAccountNumber.vars.errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">{{ form_label(transferForm.title) }}</td>
                            <td>{{ form_widget(transferForm.title) }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">{{ form_label(transferForm.amount) }}</td>
                            <td>{{ form_widget(transferForm.amount,
                                    {'attr': {'class': 'send-transfer-amount'}}) }} PLN
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="form-error">
                                {% for error in transferForm.amount.vars.errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="verification-code-btn">Wyślij przelew</button></td>
                        </tr>
                    </table>
                {{ form_end(transferForm) }}
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/transfer.js') }}"></script>
    {#<script src="{{ asset('js/transfer-finalize.js') }}"></script>#}
{% endblock %}